.container{
    display: flex;
    margin:auto;
    width: 17%;
    justify-content: space-around;
    font-style:normal;
   
 
}
.container input{
    height: 50px;
    width: 400px; 
    border-radius: 6px;
    color: rgb(14, 13, 13);
    margin:20%;
    margin-top: 57%;
    background-image: linear-gradient(45deg, #3784db, #00aeff);
}
.container button{
    height: 50px;
    width: 400px; 
    border-radius: 6px;
    color: rgb(14, 13, 13);
    margin:0.2%;
    margin-top: 57%;
    font: size 20px;
    cursor: pointer;
    background-image: linear-gradient(45deg, #3784db, #00aeff);
    
}