.App {
   text-align: center;
   color: rgb(241, 237, 250);
}

a{
   text-decoration: none;
   margin: 0 10px;
   color: rgb(153, 178, 201);
 }
 
 a:hover{
   color: #d99898;
 }
 
 .App {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   
   margin-top: 0;
   padding: 0 30px;
 }
 
 